name: Publish Docs

# https://github.com/marketplace/actions/deploy-to-github-pages

on:
  push:
    branches:
      - 'master'

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false
      - uses: actions/setup-node@v1
        with:
          node-version: 14

      - run: npm ci
      - npm run build
      - npm run doc

      - uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: build
          CLEAN: true
          SINGLE_COMMIT: true
